#add-card-page {
  @include sp {
    padding-top: 22px;
  }
  width: 100%;
  height: 100vh;
  background: #eeeeee;

  .lerge-plus-button {
    display: inline-block;
    text-align: right;
    font-size: 24px;
    @include sp {
      font-size: 18px;
    }
    text-decoration: none;
    margin-left: auto;
    background: #58d9fd;
    border-radius: 60px;
    border: 2px solid #58d9fd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    color: #ffffff;
    margin: 0.5em 1em;
    padding: 5px 20px;
    &:hover {
      color: #58d9fd;
      background: white;
    }
    i {
      margin: 0 5px;
    }
  }

  .card-form {
    .form-header {
      display: flex;
      justify-content: space-between;
    }

    .card-form-item {
      margin: 16px 24px;
      padding-bottom: 16px;
      padding-top: 16px;
      background: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

      .form-item {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
