#login-page {
  .title {
    padding: 30px;
  }

  text-align: center;
  .social-buttons {
    img {
      margin: 0 10px;
    }
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    li {
      list-style: none;
      padding-bottom: 20px;
    }
  }
}
