#top-page {
  width: 100%;
  height: 100vh;
  background: #eeeeee;

  .lerge-start-button {
    display: inline-block;

    @include pc {
      font-size: 36px;
    }

    @include sp {
      font-size: 24px;
    }

    text-decoration: none;
    background: #58d9fd;
    border-radius: 60px;
    border: 2px solid #58d9fd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    color: #ffffff;
    margin: 0.5em 1em;
    padding: 5px 20px;
    &:hover {
      color: #58d9fd;
      background: white;
    }
    i {
      margin: 0 5px;
    }
  }

  .lerge-plus-button {
    display: inline-block;
    text-align: right;
    font-size: 24px;
    text-decoration: none;
    margin-left: auto;
    background: #58d9fd;
    border-radius: 60px;
    border: 2px solid #58d9fd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    color: #ffffff;
    margin: 0.5em 1em;
    padding: 5px 20px;
    &:hover {
      color: #58d9fd;
      background: white;
    }
    i {
      margin: 0 5px;
    }
  }

  .top-page-container {
    @include pc {
      margin: 40px 20px 20px 20px;
    }
    background: white;
    text-align: center;

    .sub-caption {
      color: #999999;
    }

    .card-description {
      display: flex;
      justify-content: space-around;

      @include pc {
        padding-bottom: 20px;
      }
      .new-card-container {
        @include pc {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
        @include sp {
          width: 50%;
          // border-radius: 60px;
        }
        background: #a7c9fd;
      }

      .review-card-container {
        @include pc {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
        @include sp {
          width: 50%;
          // border-radius: 60px;
        }
        background: #fdbca7;
      }

      .caption {
        color: rgba(17, 41, 80, 0.49);
        text-align: center;
      }
      .number {
        padding-top: 0;
        @include pc {
          font-size: 36px;
        }
        @include sp {
          font-size: 24px;
        }
      }
    }
  }
}
