// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css');
@mixin pc {
  @media (min-width: 761px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 760px) {
    @content;
  }
}

body {
  font-family: 'M+ Type-1 (general-j) Regular', 'Noto Sans JP', sans-serif;
  margin: 0px;
  background: #eeeeee;
}

@include pc {
  .main-container {
    display: flex;
  }
}

#navigation {
  position: fixed;
  padding: 10px;
  position: relative;
  background: #eeeeee;
  @include pc {
    background: #fff;
    width: 450px;
  }
  border-right: 1px solid #c4c4c4;
  ul {
    padding-top: 40px;
    padding-left: 10px;
    font-size: 20px;

    li {
      list-style: none;
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 10px;

      i {
        margin-right: 10px;
        color: #999999;
      }

      a {
        text-decoration: none;
        font-weight: 200;

        color: #353535;

        &:hover {
          color: #999999;
        }
      }
    }
    li.unborder {
      border-bottom: none;
    }

    img {
      display: block;
      margin: 0 auto;
      border-bottom: none;
    }
  }
}

.nav-unshown {
  display: none;
}

@include sp {
  #nav-open-btn {
    display: inline-block;
    width: 15px;
    height: 22px;
    vertical-align: middle;
    position: fixed;
    margin-buttom: 22px;
  }

  #nav-open-btn span,
  #nav-open-btn span:before,
  #nav-open-btn span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: black;
    display: block;
    content: '';
    cursor: pointer;
  }

  #nav-open-btn span:before {
    bottom: -8px;
  }

  #nav-open-btn span:after {
    bottom: -16px;
  }

  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 70%;
    height: 100%;
    transition: 0.3s ease-in-out;
    transform: translateX(-105%);
    background: #fff;
  }

  #nav-checkbox:checked ~ #nav-close {
    display: block;
    opacity: 0.5;
  }
  #nav-checkbox:checked ~ #nav-content {
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
}

.close-button {
  display: inline-block;
  text-align: right;
  font-size: 24px;
  text-decoration: none;
  vertical-align: center;
  margin-left: auto;
  border-radius: 60px;
  border: 2px solid #999999;
  margin: 0.5em 1em;

  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color: #999999;

  &:hover {
    border-color: #ff9494;
    color: #ff9494;
  }
  i {
    margin: 0 5px;
  }
}

.lerge-plus-button {
  display: inline-block;
  text-align: right;
  font-size: 24px;
  @include sp {
    font-size: 18px;
  }
  text-decoration: none;
  margin-left: auto;
  background: #58d9fd;
  border-radius: 60px;
  border: 2px solid #58d9fd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  color: #ffffff;
  margin: 0.5em 1em;
  padding: 5px 20px;
  &:hover {
    color: #58d9fd;
    background: white;
  }
  i {
    margin: 0 5px;
  }
}

@include sp {
  .invisible-sp {
    display: none;
  }
}
.back-button {
  color: #247bfd;
}

.loading-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  p {
    margin-bottom: 4px;
  }
}

@import 'styles/top_page';
@import 'styles/add_card_page';
@import 'styles/question_page';
@import 'styles/login_page';
