@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

@mixin pc {
  @media (min-width: 761px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 760px) {
    @content;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0px;
}

.container {
  display: flex;
}

#sidebar {
  width: 30%;
  text-align: center;

  li {
    list-style: none;
  }
}

@import 'styles/top_page';
